<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>
		<!-- Database connection settings -->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<!-- <property name="hibernate.connection.url">jdbc:mysql://localhost/test?rewriteBatchedStatements=true</property>
		<property name="hibernate.connection.username">test</property>
		<property name="hibernate.connection.password">test</property> -->

		<!-- JDBC connection pool (use the built-in) -->
 		<property name="hibernate.connection.pool_size">1</property>

		<!-- SQL dialect -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>

		<!-- Enable Hibernate's automatic session context management -->
		 <property name="current_session_context_class">thread</property>

		<!-- Disable the second-level cache -->
		<!--  <property name="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</property> -->

		<!-- Echo all executed SQL to stdout -->
		<!--<property name="hibernate.show_sql">true</property>-->

		<!-- Drop and re-create the database schema on startup -->
	    <!-- <property name="hibernate.hbm2ddl.auto">validate</property>-->

		<property name="hibernate.order_inserts">true</property>
		<property name="hibernate.order_updates">true</property>
		<property name="hibernate.jdbc.batch_size">300</property>
		<property name="hibernate.default_batch_fetch_size">20</property>
		<property name="hibernate.jdbc.batch_versioned_data">true</property>

		<mapping class="de.lighti.model.game.PositionDouble" />
		<mapping class="de.lighti.model.game.PositionLong" />
		<mapping class="de.lighti.model.game.PositionInteger" />
		<mapping class="de.lighti.model.Centroid" />
		<mapping class="de.lighti.model.game.Ability" />
		<mapping class="de.lighti.model.game.Unit" />
		<mapping class="de.lighti.model.game.CombatEvent" />
		<mapping class="de.lighti.model.game.Dota2Item" />
		<mapping class="de.lighti.model.game.Hero$ItemEvent" />
		<mapping class="de.lighti.model.game.UnitInventory" />
		<mapping class="de.lighti.model.game.Hero" />
		<mapping class="de.lighti.model.game.Tower" />
		<mapping class="de.lighti.model.game.Roshan" />
		<mapping class="de.lighti.model.game.Creep" />
		<mapping class="de.lighti.model.game.Player" />
		<mapping class="de.lighti.model.Encounter2$DamageScore" />
		<mapping class="de.lighti.model.Encounter2" />
		<mapping class="de.lighti.model.Replay" />



	</session-factory>

</hibernate-configuration>